// Global styling for this template
body,
html {
	width: 100%;
	height: 100%;
}

// Custom horizontal rules
hr.divider {
	max-width: 3.25rem;
	border-width: 0.2rem;
	border-color: $primary;
}

hr.light {
	border-color: $white;
}

// Button restyling
.btn {
	font-family: $font-family-sans-serif;
}

.btn-xl {
	padding: 1.25rem 2.25rem;
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	border-radius: 10rem;
}

.text-size-big {
	font-size: 3rem;
}

// Page section padding
.page-section {
	padding: 10rem 0;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}

.img-1 {
	background: linear-gradient(to bottom, #{fade-out($black, .5)} 0%,#{fade-out($black, .5)} 100%), url('../images/erin-webster-hair-salon-2.jpg');
}

.img-2 {
	background: linear-gradient(to bottom, #{fade-out($black, .5)} 0%,#{fade-out($black, .5)} 100%), url('../images/erin-webster-hair-salon-3.jpg');
}

.img-brushes {
	background: linear-gradient(to bottom, #{fade-out($black, .5)} 0%,#{fade-out($black, .5)} 100%), url('../images/erins-hair-salon-dallas-brushes.jpg');
}

.icon {
	height: 110px;
	width: 100%;
	content: "";
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	display: block;
}

.icon-facebook {
	background-image: url('../images/facebook-icon.png');
}

.icon-google {
	background-image: url('../images/google-icon.png');
}

.icon-yelp {
	background-image: url('../images/yelp-icon.png');
}
// Modal
.modal-backdrop {
	background-color: #0b0b0b;
}

.modal-backdrop.show {
	opacity: 0.8;
}